.caso-exito {
  margin-bottom: 70px; }
  @media screen and (max-width: 850px) {
    .caso-exito {
      margin-bottom: 20px; } }

.caso-exito__item {
  width: 50%; }
  .caso-exito__item:nth-of-type(2) {
    background-color: tomato; }
  @media screen and (max-width: 520px) {
    .caso-exito__item {
      width: 100%; } }

.caso-exito__imagen {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.contenedor-caso-exito__texto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 90px;
  font-size: 16px; }
  @media screen and (max-width: 890px) {
    .contenedor-caso-exito__texto {
      padding: 10px 15px;
      font-size: 14px; } }

.caso-exito__texto--cursive {
  font-style: italic; }

.caso-exito__autor {
  font-family: 'Roboto';
  font-size: 16px; }

.caso-exito__texto, .caso-exito__autor, .caso-exito__enlace, .caso-exito__enlace--icono {
  color: #fff; }

.caso-exito__texto {
  margin-bottom: 15px;
  text-align: justify; }

.caso-exito__enlace {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  text-decoration: none; }

.caso-exito__enlace--icono {
  padding-top: 1px;
  margin-left: 10px;
  font-size: 24px; }
  @media screen and (max-width: 520px) {
    .caso-exito__enlace--icono {
      font-size: 18px; } }
