@import url(../../recursos/iconos-web/font-awesome/css/font-awesome.min.css);
@font-face {
  font-family: 'Open sans';
  src: url(../../recursos/tipografias/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal; }

@font-face {
  font-family: 'Roboto';
  src: url(../../recursos/tipografias/Roboto-Bold.ttf) format("truetype");
  font-weight: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open sans';
  color: #494A4A; }

body {
  background-color: #fafafa; }

.icon-menu-fontello {
  font-size: 31px; }

.menu__contenedor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 90px;
  background-color: #fff;
  border-bottom: 1px solid #ccc; }
  @media screen and (max-width: 850px) {
    .menu__contenedor {
      padding: 0 15px; } }

.logo-clap {
  width: 90px;
  height: 90px;
  -o-object-fit: contain;
  object-fit: contain; }
  @media screen and (max-width: 850px) {
    .logo-clap {
      width: 70px;
      height: 70px; } }

.menu__icono {
  display: none; }

.menu__item {
  display: inline-block;
  margin-right: 1.2em;
  list-style-type: none; }
  .menu__item:last-child {
    margin-right: 0; }

.menu__enlace {
  color: #494A4A;
  text-decoration: none;
  padding-bottom: 26px; }
  .menu__enlace:hover {
    border-bottom: 3px solid #F04322; }

.menu__enlace--active {
  border-bottom: 3px solid #F04322; }

@media screen and (max-width: 850px) {
  .menu__icono {
    display: block;
    color: #092A35; }
  .icon-menu-fontello {
    font-size: 37px; }
  .menu__contenedor__items {
    position: absolute;
    top: 80px;
    left: -50%;
    width: 0;
    height: 100vh;
    border-right: 1px solid #ccc;
    background-color: #fff;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  .menu__item {
    display: block;
    margin: 1.2em 90px;
    margin-right: 0; } }
  @media screen and (max-width: 850px) and (max-width: 980px) {
    .menu__item {
      margin: 1.2em 15px; } }

@media screen and (max-width: 850px) {
  .menu__enlace {
    padding-bottom: 0; }
    .menu__enlace:hover {
      border-bottom: 3px solid #F04322; }
  .js-menu--mostrar {
    width: 90%;
    left: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; } }

.contenedor-centrado {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: auto; }
  @media screen and (max-width: 520px) {
    .contenedor-centrado {
      padding: 0 15px; } }

.gutter-bottom--auxiliar {
  margin-bottom: 90px; }

.contenedor-centrado__imagen {
  width: 150px;
  height: 150px;
  margin: 40px; }

.contenedor-centrado__fa {
  color: #092A35;
  font-size: 33px;
  margin-bottom: 10px; }

.contenedor-centrado__texto {
  margin-bottom: 10px;
  font-family: 'Roboto';
  line-height: 1.7;
  font-size: 24px;
  text-align: center; }

.contenedor-centrado__parrafo {
  width: 530px;
  font-family: 'Open sans';
  font-size: 18px;
  text-align: center; }
  @media screen and (max-width: 850px) {
    .contenedor-centrado__parrafo {
      width: 100%; } }
  @media screen and (max-width: 520px) {
    .contenedor-centrado__parrafo {
      font-size: 16px;
      text-align: justify; } }

.especialidad {
  width: 100%;
  padding: 0 90px;
  margin-bottom: 20px; }
  @media screen and (max-width: 850px) {
    .especialidad {
      padding: 0 15px; } }

.especialidad__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 150px; }
  @media screen and (max-width: 900px) {
    .especialidad__item {
      height: auto; } }
  @media screen and (max-width: 850px) {
    .especialidad__item {
      margin-bottom: 20px; } }
  @media screen and (max-width: 520px) {
    .especialidad__item {
      margin-bottom: 0; } }

.especialidad__title {
  margin-top: 20px;
  font-size: 16px;
  text-align: center; }

.grid-4f-3c {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 90px; }
  @media screen and (max-width: 900px) {
    .grid-4f-3c {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(auto, 1fr);
      grid-gap: 15px; } }
  @media screen and (max-width: 520px) {
    .grid-4f-3c {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(10, 1fr); } }

.grid-1f-2c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.grid-1f-3c {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  width: 100%;
  padding: 0 90px; }
  @media screen and (max-width: 1024px) {
    .grid-1f-3c {
      padding: 0 15px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr); } }
  @media screen and (max-width: 650px) {
    .grid-1f-3c {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr); } }

.diferencia {
  margin-bottom: 45px; }

.diferencia__item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .diferencia__item:hover {
    -webkit-box-shadow: 0 3px 8px #ccc;
    box-shadow: 0 3px 8px #ccc;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }

.diferencia__texto {
  font-size: 16px; }
  @media screen and (max-width: 520px) {
    .diferencia__texto {
      font-size: 14px; } }

.caso-exito {
  margin-bottom: 70px; }
  @media screen and (max-width: 850px) {
    .caso-exito {
      margin-bottom: 20px; } }

.caso-exito__item {
  width: 50%; }
  .caso-exito__item:nth-of-type(2) {
    background-color: tomato; }
  @media screen and (max-width: 520px) {
    .caso-exito__item {
      width: 100%; } }

.caso-exito__imagen {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.contenedor-caso-exito__texto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 90px;
  font-size: 16px; }
  @media screen and (max-width: 890px) {
    .contenedor-caso-exito__texto {
      padding: 10px 15px;
      font-size: 14px; } }

.caso-exito__texto--cursive {
  font-style: italic; }

.caso-exito__autor {
  font-family: 'Roboto';
  font-size: 16px; }

.caso-exito__texto, .caso-exito__autor, .caso-exito__enlace, .caso-exito__enlace--icono {
  color: #fff; }

.caso-exito__texto {
  margin-bottom: 15px;
  text-align: justify; }

.caso-exito__enlace {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  text-decoration: none; }

.caso-exito__enlace--icono {
  padding-top: 1px;
  margin-left: 10px;
  font-size: 24px; }
  @media screen and (max-width: 520px) {
    .caso-exito__enlace--icono {
      font-size: 18px; } }

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 90px;
  width: 100%;
  height: auto;
  margin-top: 15px;
  padding: 20px 90px;
  background-color: #F04322; }
  @media screen and (max-width: 890px) {
    .footer {
      grid-gap: 15px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      padding: 20px 15px; } }

.footer-columna {
  width: 100%; }
  @media screen and (orientation: landscape) and (max-width: 890px) {
    .footer-columna:first-of-type {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3; } }

.footer-title {
  font-family: 'Roboto';
  font-size: 16px;
  margin-bottom: 20px;
  color: #fff; }

.footer-item {
  margin-left: 20px;
  padding-left: 10px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.88);
  line-height: 1.7;
  border-left: 1px solid rgba(255, 255, 255, 0.5); }

.footer-item__enlace {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none; }
  .footer-item__enlace:hover {
    text-decoration: underline; }

.contenedor-socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 50%;
  color: #df300f;
  background-color: rgba(255, 255, 255, 0.7); }
  .social:hover {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer; }

.facebook, .twitter, .instagram, .linkedin {
  font-family: 'FontAwesome'; }

.facebook:before {
  content: "\f09a"; }

.twitter:before {
  content: "\f099"; }

.instagram:before {
  content: "\f16d"; }

.linkedin:before {
  content: "\f0e1"; }
