@import url(../../recursos/iconos-web/font-awesome/css/font-awesome.min.css);
@font-face {
  font-family: 'Open sans';
  src: url(../../recursos/tipografias/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal; }

@font-face {
  font-family: 'Roboto';
  src: url(../../recursos/tipografias/Roboto-Bold.ttf) format("truetype");
  font-weight: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open sans';
  color: #494A4A; }

body {
  background-color: #fafafa; }

.icon-menu-fontello {
  font-size: 31px; }

.menu__contenedor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 90px;
  background-color: #fff;
  border-bottom: 1px solid #ccc; }
  @media screen and (max-width: 850px) {
    .menu__contenedor {
      padding: 0 15px; } }

.logo-clap {
  width: 90px;
  height: 90px;
  -o-object-fit: contain;
  object-fit: contain; }
  @media screen and (max-width: 850px) {
    .logo-clap {
      width: 70px;
      height: 70px; } }

.menu__icono {
  display: none; }

.menu__item {
  display: inline-block;
  margin-right: 1.2em;
  list-style-type: none; }
  .menu__item:last-child {
    margin-right: 0; }

.menu__enlace {
  color: #494A4A;
  text-decoration: none;
  padding-bottom: 26px; }
  .menu__enlace:hover {
    border-bottom: 3px solid #F04322; }

.menu__enlace--active {
  border-bottom: 3px solid #F04322; }

@media screen and (max-width: 850px) {
  .menu__icono {
    display: block;
    color: #092A35; }
  .icon-menu-fontello {
    font-size: 37px; }
  .menu__contenedor__items {
    position: absolute;
    top: 80px;
    left: -50%;
    width: 0;
    height: 100vh;
    border-right: 1px solid #ccc;
    background-color: #fff;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  .menu__item {
    display: block;
    margin: 1.2em 90px;
    margin-right: 0; } }
  @media screen and (max-width: 850px) and (max-width: 980px) {
    .menu__item {
      margin: 1.2em 15px; } }

@media screen and (max-width: 850px) {
  .menu__enlace {
    padding-bottom: 0; }
    .menu__enlace:hover {
      border-bottom: 3px solid #F04322; }
  .js-menu--mostrar {
    width: 90%;
    left: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; } }

.banner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 80vh;
  margin-bottom: 50px;
  padding: 90px;
  background-size: cover; }
  .banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(73, 74, 74, 0.6); }
  @media screen and (max-width: 850px) {
    .banner {
      padding: 15px; } }

.banner__title {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 51px;
  color: rgba(255, 255, 255, 0.86); }
  @media screen and (max-width: 850px) {
    .banner__title {
      font-size: 33px; } }

.banner__title, .banner__text {
  font-family: 'Roboto';
  z-index: 250; }
  @media screen and (max-width: 850px) {
    .banner__title, .banner__text {
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start; } }

.banner__text {
  font-family: 'Open sans';
  font-size: 19px;
  color: rgba(255, 255, 255, 0.8); }
  @media screen and (max-width: 520px) {
    .banner__text {
      font-size: 18px; } }

.contenedor-centrado {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: auto; }
  @media screen and (max-width: 520px) {
    .contenedor-centrado {
      padding: 0 15px; } }

.gutter-bottom--auxiliar {
  margin-bottom: 90px; }

.contenedor-centrado__imagen {
  width: 150px;
  height: 150px;
  margin: 40px; }

.contenedor-centrado__fa {
  color: #092A35;
  font-size: 33px;
  margin-bottom: 10px; }

.contenedor-centrado__texto {
  margin-bottom: 10px;
  font-family: 'Roboto';
  line-height: 1.7;
  font-size: 24px;
  text-align: center; }

.contenedor-centrado__parrafo {
  width: 530px;
  font-family: 'Open sans';
  font-size: 18px;
  text-align: center; }
  @media screen and (max-width: 850px) {
    .contenedor-centrado__parrafo {
      width: 100%; } }
  @media screen and (max-width: 520px) {
    .contenedor-centrado__parrafo {
      font-size: 16px;
      text-align: justify; } }

.grid-1f-3c {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  width: 100%;
  padding: 0 90px; }
  @media screen and (max-width: 1024px) {
    .grid-1f-3c {
      padding: 0 15px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr); } }
  @media screen and (max-width: 650px) {
    .grid-1f-3c {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr); } }

.banner {
  background-image: url(../../recursos/imagenes/novedades-en-clap.jpg); }

.novedad-articulos {
  margin-bottom: 24px; }

.novedad-articulo__item {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .novedad-articulo__item:hover {
    -webkit-box-shadow: 2px 2px 10px #ccc;
    box-shadow: 2px 2px 10px #ccc; }

.novedad-articulo__header {
  width: 100%;
  height: 250px;
  overflow: hidden; }

.novedad-articulo__header__imagen {
  width: 100%;
  height: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }

.novedad-articulo__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 40%;
  padding: 14px 16px; }

.novedad-articulo__footer__titulo {
  font-size: 19px; }
  @media screen and (max-width: 520px) {
    .novedad-articulo__footer__titulo {
      font-size: 16px; } }

.novedad-articulo__footer__titulo__enlace {
  font-family: 'Roboto';
  text-decoration: none; }

.novedad-articulo__footer__fecha {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  font-size: 13px; }

.novedad-articulo__footer__parrafo {
  padding-bottom: 45px;
  padding-top: 25px;
  font-size: 15px; }

.novedad-articulo__footer__enlace {
  position: absolute;
  bottom: 15px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 5px 18px;
  border: 1px solid #F04322;
  border-radius: 3px;
  text-decoration: none;
  font-size: 15px;
  color: #F04322;
  cursor: pointer; }
  .novedad-articulo__footer__enlace:hover {
    background-color: #F04322;
    color: #fff; }

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 90px;
  width: 100%;
  height: auto;
  margin-top: 15px;
  padding: 20px 90px;
  background-color: #F04322; }
  @media screen and (max-width: 890px) {
    .footer {
      grid-gap: 15px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      padding: 20px 15px; } }

.footer-columna {
  width: 100%; }
  @media screen and (orientation: landscape) and (max-width: 890px) {
    .footer-columna:first-of-type {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3; } }

.footer-title {
  font-family: 'Roboto';
  font-size: 16px;
  margin-bottom: 20px;
  color: #fff; }

.footer-item {
  margin-left: 20px;
  padding-left: 10px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.88);
  line-height: 1.7;
  border-left: 1px solid rgba(255, 255, 255, 0.5); }

.footer-item__enlace {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none; }
  .footer-item__enlace:hover {
    text-decoration: underline; }

.contenedor-socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 50%;
  color: #df300f;
  background-color: rgba(255, 255, 255, 0.7); }
  .social:hover {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer; }

.facebook, .twitter, .instagram, .linkedin {
  font-family: 'FontAwesome'; }

.facebook:before {
  content: "\f09a"; }

.twitter:before {
  content: "\f099"; }

.instagram:before {
  content: "\f16d"; }

.linkedin:before {
  content: "\f0e1"; }
