@import url(../../recursos/iconos-web/font-awesome/css/font-awesome.min.css);
@font-face {
  font-family: 'Open sans';
  src: url(../../recursos/tipografias/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal; }

@font-face {
  font-family: 'Roboto';
  src: url(../../recursos/tipografias/Roboto-Bold.ttf) format("truetype");
  font-weight: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open sans';
  color: #494A4A; }

body {
  background-color: #fafafa; }

.icon-menu-fontello {
  font-size: 31px; }

.menu__contenedor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 90px;
  background-color: #fff;
  border-bottom: 1px solid #ccc; }
  @media screen and (max-width: 850px) {
    .menu__contenedor {
      padding: 0 15px; } }

.logo-clap {
  width: 90px;
  height: 90px;
  -o-object-fit: contain;
  object-fit: contain; }
  @media screen and (max-width: 850px) {
    .logo-clap {
      width: 70px;
      height: 70px; } }

.menu__icono {
  display: none; }

.menu__item {
  display: inline-block;
  margin-right: 1.2em;
  list-style-type: none; }
  .menu__item:last-child {
    margin-right: 0; }

.menu__enlace {
  color: #494A4A;
  text-decoration: none;
  padding-bottom: 26px; }
  .menu__enlace:hover {
    border-bottom: 3px solid #F04322; }

.menu__enlace--active {
  border-bottom: 3px solid #F04322; }

@media screen and (max-width: 850px) {
  .menu__icono {
    display: block;
    color: #092A35; }
  .icon-menu-fontello {
    font-size: 37px; }
  .menu__contenedor__items {
    position: absolute;
    top: 80px;
    left: -50%;
    width: 0;
    height: 100vh;
    border-right: 1px solid #ccc;
    background-color: #fff;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  .menu__item {
    display: block;
    margin: 1.2em 90px;
    margin-right: 0; } }
  @media screen and (max-width: 850px) and (max-width: 980px) {
    .menu__item {
      margin: 1.2em 15px; } }

@media screen and (max-width: 850px) {
  .menu__enlace {
    padding-bottom: 0; }
    .menu__enlace:hover {
      border-bottom: 3px solid #F04322; }
  .js-menu--mostrar {
    width: 90%;
    left: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; } }

.banner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 80vh;
  margin-bottom: 50px;
  padding: 90px;
  background-size: cover; }
  .banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(73, 74, 74, 0.6); }
  @media screen and (max-width: 850px) {
    .banner {
      padding: 15px; } }

.banner__title {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 51px;
  color: rgba(255, 255, 255, 0.86); }
  @media screen and (max-width: 850px) {
    .banner__title {
      font-size: 33px; } }

.banner__title, .banner__text {
  font-family: 'Roboto';
  z-index: 250; }
  @media screen and (max-width: 850px) {
    .banner__title, .banner__text {
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start; } }

.banner__text {
  font-family: 'Open sans';
  font-size: 19px;
  color: rgba(255, 255, 255, 0.8); }
  @media screen and (max-width: 520px) {
    .banner__text {
      font-size: 18px; } }

.contenedor-centrado {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: auto; }
  @media screen and (max-width: 520px) {
    .contenedor-centrado {
      padding: 0 15px; } }

.gutter-bottom--auxiliar {
  margin-bottom: 90px; }

.contenedor-centrado__imagen {
  width: 150px;
  height: 150px;
  margin: 40px; }

.contenedor-centrado__fa {
  color: #092A35;
  font-size: 33px;
  margin-bottom: 10px; }

.contenedor-centrado__texto {
  margin-bottom: 10px;
  font-family: 'Roboto';
  line-height: 1.7;
  font-size: 24px;
  text-align: center; }

.contenedor-centrado__parrafo {
  width: 530px;
  font-family: 'Open sans';
  font-size: 18px;
  text-align: center; }
  @media screen and (max-width: 850px) {
    .contenedor-centrado__parrafo {
      width: 100%; } }
  @media screen and (max-width: 520px) {
    .contenedor-centrado__parrafo {
      font-size: 16px;
      text-align: justify; } }

.grid-2f-2c {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 250px);
  grid-gap: 10px;
  width: 100%;
  margin-bottom: 15px;
  padding: 0 90px; }
  @media screen and (max-width: 850px) {
    .grid-2f-2c {
      padding: 0 15px; } }
  @media screen and (max-width: 500px) {
    .grid-2f-2c {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 250px); } }

.grid-2f-2c__span-2 {
  grid-column: 1 / 2;
  grid-row: 1 / 3; }

.banner {
  background-image: url(../../recursos/imagenes/equipo-trabajo.jpg); }

.grid-2f-2c__item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .grid-2f-2c__item:hover .galeria-2f-2c__imagen {
    -webkit-transition: 600ms;
    -o-transition: 600ms;
    transition: 600ms;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.galeria-2f-2c__imagen {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .galeria-2f-2c__imagen:hover {
    cursor: pointer; }

.galeria-2f-2c__filtro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 144, 255, 0.1);
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  .galeria-2f-2c__filtro:hover {
    background-color: rgba(30, 144, 255, 0.15);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

.js-contenedor-modal {
  position: fixed;
  z-index: 350;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 9999px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease; }

.js-contenedor-imagen {
  position: absolute;
  top: 85px;
  width: 100%;
  height: 80vh;
  padding: 0 90px; }

.js-modal-imagen {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.js-icono-cerrar {
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 21px;
  padding: 30px 25px;
  cursor: pointer; }
  .js-icono-cerrar:after, .js-icono-cerrar:before {
    content: "";
    position: absolute;
    top: 2rem;
    width: 2rem;
    height: 2px;
    background-color: #999;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: .6; }
  .js-icono-cerrar:before {
    right: 1rem; }
  .js-icono-cerrar:after {
    right: 1rem;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .js-icono-cerrar:hover:before {
    background-color: #fff; }
  .js-icono-cerrar:hover:after {
    background-color: #fff; }

.display-skew {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 300px;
  margin: 90px 0;
  overflow: hidden;
  background-color: #F04322; }

.franja__titulo {
  font-size: 30px; }
  @media screen and (max-width: 1080px) {
    .franja__titulo {
      font-size: 24px; } }
  @media screen and (max-width: 520px) {
    .franja__titulo {
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start; } }

.franja__subtitulo {
  font-size: 16px; }
  @media screen and (max-width: 520px) {
    .franja__subtitulo {
      margin-top: 10px;
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start; } }

.franja__titulo, .franja__subtitulo {
  font-weight: normal;
  color: #fff;
  padding: 0 90px; }
  @media screen and (max-width: 850px) {
    .franja__titulo, .franja__subtitulo {
      padding: 0 15px; } }

.display-skew__child__first {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 1500px;
  height: 900px;
  margin-right: -1020px;
  background-color: #333;
  -webkit-transform: rotate(-48deg);
  -ms-transform: rotate(-48deg);
  transform: rotate(-48deg); }
  @media screen and (max-width: 940px) {
    .display-skew__child__first {
      margin-right: -1180px; } }

.display-skew__child__second {
  position: absolute;
  top: 0;
  right: 0;
  width: 1500px;
  height: 800px;
  margin-right: -920px;
  background-color: #464747;
  -webkit-transform: rotate(-38deg);
  -ms-transform: rotate(-38deg);
  transform: rotate(-38deg); }
  @media screen and (max-width: 940px) {
    .display-skew__child__second {
      margin-right: -1170px; } }

.grid-1f-2c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.direccionamiento {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 90px;
  margin-bottom: 20px; }
  @media screen and (max-width: 850px) {
    .direccionamiento {
      padding: 0 15px; } }

.direccionamiento__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 300px;
  height: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc; }
  .direccionamiento__item:hover {
    -webkit-box-shadow: 0 3px 8px #ccc;
    box-shadow: 0 3px 8px #ccc;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  @media screen and (max-width: 850px) {
    .direccionamiento__item {
      width: 100%;
      margin-bottom: 20px; } }

.direccionamiento__titulo {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px; }

.direccionamiento__texto {
  font-family: 'Open sans';
  font-size: 18px;
  text-align: justify; }
  .direccionamiento__texto:hover {
    cursor: default; }
  @media screen and (max-width: 850px) {
    .direccionamiento__texto {
      font-size: 16px; } }

.icono-valores {
  margin-bottom: 20px;
  width: 40px;
  height: 40px; }

.contenedor-centrado__texto--ancho {
  width: 550px; }
  @media screen and (max-width: 850px) {
    .contenedor-centrado__texto--ancho {
      width: auto; } }

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 90px;
  width: 100%;
  height: auto;
  margin-top: 15px;
  padding: 20px 90px;
  background-color: #F04322; }
  @media screen and (max-width: 890px) {
    .footer {
      grid-gap: 15px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      padding: 20px 15px; } }

.footer-columna {
  width: 100%; }
  @media screen and (orientation: landscape) and (max-width: 890px) {
    .footer-columna:first-of-type {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3; } }

.footer-title {
  font-family: 'Roboto';
  font-size: 16px;
  margin-bottom: 20px;
  color: #fff; }

.footer-item {
  margin-left: 20px;
  padding-left: 10px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.88);
  line-height: 1.7;
  border-left: 1px solid rgba(255, 255, 255, 0.5); }

.footer-item__enlace {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none; }
  .footer-item__enlace:hover {
    text-decoration: underline; }

.contenedor-socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 50%;
  color: #df300f;
  background-color: rgba(255, 255, 255, 0.7); }
  .social:hover {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer; }

.facebook, .twitter, .instagram, .linkedin {
  font-family: 'FontAwesome'; }

.facebook:before {
  content: "\f09a"; }

.twitter:before {
  content: "\f099"; }

.instagram:before {
  content: "\f16d"; }

.linkedin:before {
  content: "\f0e1"; }
